{% extends "base.html" %}

{% set order = result['order'] %}
{% set cart = result['cart'] %}

{% block title %}
    Thank you
{% endblock %}

{% block content %}
    <h1>Thank you {{ order.first_name }} {{ order.last_name }}</h1>

    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>{{ item.quantity }} x {{ item.name }} <span>${{ item.price }}</span></li>
            {% endfor %}
        </ul>
        <p>Total: ${{ order.total }}</p>
    </div>

    <p class="order-form">Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong>.</p>
{% endblock %}
