{% extends "base.html" %}

{% set product = result['product'] %}
{% set category = result['category'] %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ url_for('static', filename=product.image) }}{% else %}{{ url_for('static', filename='media/img/no_image.png') }}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="">{{ category.name }}</a></h2>
        <p class="price">${{ product.price }}</p>
        <form action="/cart" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <input type="hidden" name="product_name" value="{{ product.name }}">
            <input type="hidden" name="product_image" value="{{ product.image }}">
            <input type="hidden" name="product_price" value="{{ product.price }}">
            <input type="hidden" name="session_id" value="abcdefg">
            <tr>
                <th>
                    <label for="id_quantity">Quantity:</label>
                </th>
                <td>
                    <select name="quantity" id="id_quantity">
                        {% for number in range(1, product.stock + 1) %}
                            <option value="{{number}}">{{ number }}</option>
                        {% endfor %}
                    </select>
                </td>   
            <input type="submit" value="Add to cart">
        </form>
        <br>
        {{ product.description }}
    </div>
{% endblock %}

        
        
        

        