{% extends "base.html" %}


{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            {% set category = result['category'] %}
            <li {% if not category %}class="selected"{% endif %}>
                <a href="/">All</a>
            </li>
        {% for c in result['categories'] %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a href="/{{c.slug}}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in result['products'] %}    
            <div class="item">
                <div>
                    <a href="/product/{{product.id}}">
                        <img class="image" src="{% if product.image %}{{ url_for('static', filename=product.image) }}{% else %}{{ url_for('static', filename='media/img/no_image.png') }}{% endif %}">
                    </a>
                </div>
                <a href="/product/{{ product.id }}">{{ product.name }}</a><br>
                ${{ product.price }}
            </div>   
        {% endfor %}
    </div>
{% endblock %}